Title: Home
NoSidebar: true
NoTitle: true
NoContainer: true
---
<section class="content">
    <h1>BottomNavigationBar for Xamarin.Android</h1>
    <p>
        This library is translated from <a href="https://github.com/roughike/BottomBar">BottomBar</a> v2.1.1(commit 338ee864392087f0233ef42765730e00810cd020)
    </p>

    <h2>Thanks</h2>
    <p>
        <a href="https://github.com/roughike/BottomBar">BottomBar</a> is under <a href="https://github.com/roughike/BottomBar/blob/master/LICENSE">Apache License 2.0</a><br />
        Copyright (c) 2016 Iiro Krankka(<a href="http://github.com/roughike">http://github.com/roughike</a>)
    </p>

    <h2>Open Source</h2>
    <p>
        BottomBarSharp is open source on <a href="https://github.com/MeilCli/BottomBarSharp">Github</a>
    </p>

    <h2>NuGet</h2>
    <p>
        BottomBarSharp is published on <a href="https://www.nuget.org/packages/BottomBarSharp/">NuGet</a>
        <pre><code>Install-Package BottomBarSharp</code></pre>
    </p>

    <h2>License</h2>
    <p>
        BottomBarSharp is under <a href="https://github.com/MeilCli/BottomBarSharp/blob/master/LICENSE.txt">MIT License</a>
    </p>
</section>